header {
    grid-area: headerZone;
    border: 1px solid red;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .header__logo, .header__user {
        border: 1px dashed pink;

        & ul {
            display: flex;

            & li {
                border: 1px solid black;
                margin: 0px 5px;
            }
        }
    }

    .header__user {
        @media only screen and (max-width: 768px) {
            display: none;
        }
    }

    
}